.idea
.DS_Store

__pycache__

.venv

*.session

*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
*.webp
*.ico
*.psd
*.ai
*.eps

*.mp4
*.mov
*.avi
*.mkv
*.flv
*.wmv
*.webm
*.m4v
*.mpg
*.mpeg

*.mp3
*.wav
*.ogg
*.flac
*.aac
*.m4a
*.wma
*.mid
*.midi

*.raw
*.cr2
*.nef
*.orf
*.sr2
*.arw

*.obj
*.fbx
*.blend
*.stl
*.dae
*.3ds
*.max
*.ma
*.mb

*.pdf
*.ppt
*.pptx
*.doc
*.docx
*.xls
*.xlsx

*.srt
*.sub
*.ass
*.vtt
*.edl
*.m3u
*.m3u8